@model NewsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">News List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <br />
    <div>
        @if (Model.News.Count() > 0)
        {
            <table class="table table-striped border" style="table-layout: fixed;">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.News[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.News[0].NewsDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.News[0].Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.News[0].Image)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model.News)
                {
                    <tr>
                        <td style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                            @Html.DisplayFor(m => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.NewsDate)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Category.Name)
                        </td>
                        <td>
                            <img src="@item.Image" width="50" />
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
             page-class-normal="btn btn-light" page-class-selected="btn btn-info active"
             class="btn-group float-right">
            </div>
            <br />
        }
        else
        {
            <p style="color:red">No News exists...</p>
        }
    </div>
</div>

